/********Slider****/

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-wrapper {
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 500px;
}
.swiper-slide {
  max-width: 150px;
  margin-right: 15px;
}
